fastapi[standard]==0.120.3

langchain==0.3.27
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-community

langgraph==0.6.6
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4

pydantic==2.12.4
typing-extensions

cryptography
pandas==2.3.3
tabulate
markdown
pymysql==1.1.2
python-dotenv==1.2.1

sse-starlette==3.0.3
starlette>=0.40.0,<0.50.0
uvicorn==0.38.0

ipython